cleanedRecipes.jsonl
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Caches
__pycache__

# Inverted indexes
food_index/food_index.json
ingredient_index/ingredient_index.json
id_to_recipe.json
